.userPage {
    display: flex;
    flex-direction: column;
}

.dataField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    align-items: center;
}

.inputs {
    width: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.loginInput {
    width: 20em;
}

.editButton {
    width: 50%;
    align-self: center;
    margin: 0.5em 0 0.5em 0;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
}